<nav class="navbar  background-secondary">
    <div class="container-fluid mx-3">
      <a class="navbar-brand" href="#">{{store.user()?.email}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header background-secondary">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body background-secondary">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Statistics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex justify-content-between" href="#" (click)="logout()"><span>Logout</span>   <fa-icon class="shadow-lg bg-transparent align-self-end" icon="right-from-bracket" ></fa-icon></a>
            </li>
          </ul>
       
        </div>
      </div>
    </div>
  </nav>